.big-pink-dot {
    position: absolute;
    top: -3rem;
    left: 15rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(255,0,254,1) 0%, rgba(247,7,254,1) 33%, rgba(227,255,27,1) 95%, rgba(226,204,29,1) 100%, rgba(0,212,255,1) 100%);
    box-shadow: -5px 5px 25px #000;
}

.small-black-dot {
    position: absolute;
    top: 2rem;
    left: 65rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(28deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 35%, rgba(114,119,120,1) 100%);
    box-shadow: -5px 5px 25px #000;
}

.login-form-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #8e8e92;
    }

    h3 {
        font-size: xx-large;
        color: #fff;
        font-weight: bolder;
    }

    button, input {
        padding: 10px 20px;
        border-radius: 25px;
        background-color: transparent;
        border: 2px solid #fff;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        margin: 5px;
        width: 100%;
        color: #fff;
        font-weight: bold;
    }
    
    input::placeholder {
        color: #fff;
        cursor: text !important;
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        transition: 100ms;
    }

    p {
        margin-top: 10px;
        font-weight: bolder;
    }

    span {
        font-weight: bolder;
    }

    .sign-in-btn {
        background: linear-gradient(22deg, rgba(189,64,219,1) 0%, rgba(218,85,196,1) 9%, rgba(190,43,179,1) 18%, rgba(254,158,125,1) 100%);
        font-weight: bold;
        border: none;
    }
}