/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/ng-zorro-antd/ng-zorro-antd.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
body {
    background: #181820 !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

#loaderDiv {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
        width: 100px;
        height: 100px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}
// #torchlight {
//     position: absolute;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
//     pointer-events: none; /* This allows the mouse to pass through the torchlight div */
//     z-index: 100; 
// }

.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.active {
    color: #4234fe;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 5% !important;
}