<div class="dashbaord-main-container">
    <div class="user-details-container">
        <h3>key.keep</h3>
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-qRP2_dRZRgIP_kvy5j1Ny4l_wX81iIX-lR8mTNCf7zAvPwkg59sVooySrDh7Ht0dENg0U7lRAcU&usqp=CAU&ec=48665701" alt="user-pic" loading="lazy" />
            <div class="star-content">🌟 </div>
        </div>
        <h4>User name</h4>

        <div class="stats-container">
            <div class="each-container">
                <span>Total</span>
                <p>270</p>
            </div>
            <div class="each-container">
                <span>Total</span>
                <p>270</p>
            </div>
            <div class="each-container">
                <span>Total</span>
                <p>270</p>
            </div>
            <div class="each-container">
                <span>Total</span>
                <p>270</p>
            </div>
        </div>

        <div class="generate-random-password">
            <p>Generate <br> Random Password</p>
        </div>
    </div>
    <div class="partition-div">
        <div class="title-and-search"></div>
        <div class="bottom-right-widgets">
            <div class="widget article">
                <p>How to protect your password from theft</p>
                <button>Read Article</button>
            </div>
            <div class="widget login-stats"></div>
            <div class="widget health"></div>
            <div class="widget recently-added"></div>
        </div>
    </div>
</div>