.header {
    padding: 10px;
    h2 {
        color: #fff !important;
        font-weight: bolder;
        font-size: 30px
    }
}

.list-container {
    width: 100vw;
    margin-top: 5px;
    overflow: scroll;
    padding: 15px;

    ul {
        height: 35px;
        list-style: none;
        display: flex;
        align-items: center;
    }

    .list-header {
        border-top: 1px solid #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
        color: #cacaca;
        font-weight: 800;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .list-data {
        border-bottom: 1px solid #a1a1a1;
        color: #cacaca;
        font-weight: 800;
        font-size: 15px;
        margin-bottom: 0px;

        .clipboard {
            display: flex;
            align-items: center;
        }
        .action-btns {
            display: flex;
            align-items: center;

            button {
                background: transparent;
                border: none;
                font-size: 20px;
                cursor: pointer;
                margin:5px;
            }
        }
    }

    .right-border {
        border-right: 1px solid #a1a1a1;
    }
}

.add-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;

    button {
        background: transparent;
        font-size: 40px;
        border: none;
        cursor: pointer;
        color: #fff;
    }
}